<h1>Login to Github:</h1>


<form method='post' action='/viewer'>
  <input type='text' name='user_name' placeholder='Github user name'>
  <input type='password' name='password' placeholder='Github password'>
  <input type='submit' value='Login to see profile'>
</form>